/**
 * Players!
 */

 .friend .friend-card-meta,
 .friend .friend-card-avatar {
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
 }
 .friend-card-container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 10px 0;
 }
 .authorWapper{
   margin: 0 auto;
 }
 .friend-card {
   width: 140px;
   background: white;
   margin: 12px;
   padding: 15px;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   box-shadow: 0 0 5px #e0e0e0;
   display: inline-block;
 }
 .friend-card-layer {
   height: 135px;
   
   position: relative;
   vertical-align: top;
 }
 .friend-card-layer:hover .friend-card-meta {
   height: 100%;
 }
 .friend-card-skill{
   background: #5491e5;
   position: absolute;
   top:0;
   right: 0;
   height: 18px;
   padding: 2px 4px;
   font-weight: bold;
   color: white;
   border-bottom: 1px solid #fff;
   border-left: 1px solid #fff;
   border-radius:0 0 0 5px;
   
 }
 .friend-card-meta {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 100;
   width: 100%;
   height: 0;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.6);
   transition: all 0.3s ease;
 }
 .friend-card-meta p {
     text-align:center;
     margin: 0;
     width:94%;
     height:94%;
     color: white;
     font-size: 0.9em;
     line-height: 1.5;
     font-weight: bold;
     padding: 3%;
     word-break: break-all;
 
     display: -webkit-box;
     -webkit-box-orient: horizontal;
     -webkit-box-pack: center;
     -webkit-box-align: center;
     
     display: -moz-box;
     -moz-box-orient: horizontal;
     -moz-box-pack: center;
     -moz-box-align: center;
     
     display: -o-box;
     -o-box-orient: horizontal;
     -o-box-pack: center;
     -o-box-align: center;
     
     display: -ms-box;
     -ms-box-orient: horizontal;
     -ms-box-pack: center;
     -ms-box-align: center;
     
     display: box;
     box-orient: horizontal;
     box-pack: center;
     box-align: center;
 }
 .friend-card .friend-card-layer img{
   margin: 0;
   height: 135px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }
 .friend-card-avatar {
   width: 100%;
   height: 250px;
   object-fit: cover;
 }
 .friend-card-content {
   padding: 5px;
   word-break: break-all;
 }
 .friend-card-content-title {
   font-weight: bold;
   font-size: 15px;
   line-height: 30px;
 }
 .friend-card-content-site {
   font-weight: normal;
   color: #616161;
   /* font-size: 10px; */
   transition: all 0.15s;
 }
 .friend-card-content-site:hover {
   color: #2196f3;
 }
 .friend article {
   margin-bottom: 30px;
 }
 
 .testShowInfo {
     position: relative;
     font-weight: normal;
     color: #616161;
     transition: all 0.15s;
     margin: 2px;
 }
 .testShowInfo:hover{
   color: #2196f3;
 }
 .testShowInfo:hover::after {
     content: attr(data-title);   
     
     border-radius: 5px;
     position: absolute;
     top: -30px;
     left: -13px;
     /* width: 25px; */
 
     white-space : nowrap ;
 
     font-size: .85714286rem;
     display: inline-block;
     line-height: 1;
     vertical-align: baseline;
     margin: 0 .14285714em;
     background-color: #e8e8e8;
     background-image: none;
     padding: .5833em .833em;
     color: rgba(0,0,0,.6);
     text-transform: none;
     font-weight: 700;
     border: 0 solid transparent;
     border-radius: .28571429rem;
     transition: background .1s ease;
 
 
 }